/*CSS encriptador*/
body{
    background-color: #e1e2e8;
    color: #0A3871;
    height: 1024px;
}
/*dimenciones encriptardor*/
.main-box{
    position: relative;
    width: auto;
    height: 90%;
}
    /* logo o titulo*/
.logo{
    width: 60px;
    padding-left: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}
    /* ingreso de texto */
.box-left{
    float: left;
    position: relative;
    width: 58%;
    height: auto;
    padding-left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*ingreso de texto*/
.box-left textarea{
    width: 78%;
    height: 80%;
    font-size: 32px;
    line-height: 48px;
    resize: none;
   
}
/*salida texto*/
.box-rigth{
    float: left;
    width: 40%;
    height: 80%;
    background-color: #c9c9c9;
    padding-left: 2px;
    display: flex;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
/* texarea donde saldra el texto encriptado */
.box-rigth textarea{
    width: 100%;
    font-size: 32px;
    line-height: 1.3;
    border-radius: 32px;
    visibility: hidden;
    tab-size: 4;
    padding: 1em;
    resize: none;
}
/* imagen y texto que aparecera cuando no se ha usado el encriptador*/
.ingrese-texto-img{
    position: absolute;
    width: 25%;
}

.ingrese-texto-img img{
    display: block;
    margin: auto;
}




